bs4
beautifulsoup4
cssmin
ghp-import
markdown
pelican
typogrify
peru
cssutils
flake8
pysvg
tox
pelican
pybtex
git+https://github.com/VorpalBlade/pelican-cite.git
pelican-katex
pelican-sitemap
pybtex-author-year-label
mdx_include
