<!DOCTYPE html>
<html lang="{% if article and article.lang %}{{ article.lang }}{% else %}en{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/favicon.svg">
    {% if article and article.author %}
    <meta name="author" content="{{ article.author }}" />
    {% elif page and page.author %}
    <meta name="author" content="{{ page.author }}" />
    {% else %}
    <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}

    <meta name="description"
        content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}" />
    <title>{% block title %}{% endblock title %}</title>
    <style>
        {% include "style.min.css"%}
        {% if article and article.content and '<code>' in article.content or page and page.content and '<code>' in page.content%}
        {% include "pygment.min.css"%}
        {%endif%}
        {% if article and article.content and 'class="katex"' in article.content or page and page.content and 'class="katex"' in page.content%}
        {% include "katex.min.css"%}
        {%endif%}
    </style>
</head>

<body>
    <div class="pad">
        <div class="container">
            <nav class="nav">
                <div class="header main">
                    <h1 style="line-height: 1.6;font-size: 1rem;margin: 0 0 0.25em 0;">Simon Klug</h1>
                    <ul style="list-style:none;padding:0;margin:0">
                        <li><a href="/">Writing</a></li>
                        <li><a href="/offering">Offering</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                    </ul>
                    {%block toc%}
                    {%endblock toc%}
                </div>
            </nav>

            <div class="main content">

                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>