.k {
    color: #007020;
    font-weight: bold
}

.c {
    color: #60a0b0;
    font-style: italic
}

.nb {
    color: #007020
}

.nc {
    color: #0e84b5;
    font-weight: bold
}

.nf {
    color: #06287e
}

.na,
.s,
.s1,
.s2,
.sb,
.se,
.sh {
    color: #4070a0
}

.mh,
.mi,
.mo {
    color: #40a070
}

.cp {
    color: #007020
}

.c1,
.cs {
    color: #60a0b0;
    font-style: italic
}