:root {
    --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --mono-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

img {
    width: 100%
}

h1,
h2,
h3 {
    margin-bottom: 0.5rem;
    line-height: 1.25;
    font-weight: 600;
    margin-top: 0
}

body {
    font-family: var(--sans-font);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a {
    color: #000
}

a:visited {
    color: rgb(83, 83, 83)
}

.learning {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr min-content
}

.learning a {
    font-weight: 600;
    text-decoration: none
}

.learning a:hover {
    text-decoration: underline
}

.learning time {
    padding-right: 0.25em;
    font-variant-numeric: tabular-nums;
    white-space: pre
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.learning>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.main {
    max-width: 640px;
    padding-left: 20px;
    padding-right: 20px
}

.nav a {
    text-decoration: none
}

.nav a:hover {
    text-decoration: underline
}

.pad {
    padding-top: 40px
}

table th,
table td {
    border-bottom: 1px solid;
}

table {
    border-collapse: collapse;
    text-align: left;
}

@media only screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 20% auto 20%
    }
}

@media only screen and (max-width: 1025px) {
    .nav {
        border-bottom: 1px solid #000;
        padding-bottom: 20px
    }

    .content {
        padding-top: 20px
    }

    .main {
        margin-left: auto;
        margin-right: auto
    }
}
.admonition {
    border-left: 0.2rem solid grey;
    background: white;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.0625rem rgb(0 0 0 / 10%);
    font-size: 13px;
    margin: 1rem auto;
    overflow: hidden;
    padding: 0 0.5rem 0.5rem;
    page-break-inside: avoid;
}

p.admonition-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0 -0.5rem 0.5rem;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    position: relative;
}

.admonition.note>.admonition-title {
    background-color: rgb(0 0 0 / 5%);
}


.project-box {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:30px
  }
  .project-box a.project {
    text-decoration:none;
    color:#666
  }
  .project-box a.project:hover,
  a {
    color:#000
  }
  .project-box a.project img {
    display:block;
    margin-bottom:10px;
  }
  @media screen and (max-width:480px) {
    .project-box {
      grid-template-columns:repeat(1,1fr)
    }
  }
  @media screen and (max-width:640px) {
    .limiter {
      width:auto
    }
    .project-box {
      grid-template-columns:repeat(2,1fr)
    }
  }